h1 {
    background-color: pink;
    font-size: 30px;
    margin: 0;
  padding: 10px;
  color: brown;
}

.text {
    border: 2px solid red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    margin: 15px;
    padding: 5px;
    width: 400px;
    border-radius: 15px;
}